<html>

	<head>
		<title>
			Main Page
		</title>

		<!-- LINKSTYLES -->
		<link rel="stylesheet" type="text/css" href="Stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="Stylesheets/style-wrapper.css">
		<link rel="stylesheet" type="text/css" href="Stylesheets/style-main.css">
		<link rel="stylesheet" type="text/css" href="Scripts/Leaflet/leaflet.css">

		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

	  	<script src="Scripts/jquery-2.1.4.min.js"></script>

	  	<script src="MetropolitantManila.json"></script>

		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">

		<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />


		<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
		<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

	</head>

	<body>
		<div class="wrapper-outer">
			<div class="wrapper-inner-border">

				<div class="wrapper-legend">
					<div class="legend-title-menu">
						<div class="legend-title">Legend</div>
					</div>
					<div class="legend-options-menu">
						<div class="legend-options"><div class="legend1"></div>&le; 1 km</div>
						<div class="legend-options"><div class="legend2"></div>&le; 2.5 km</div>
						<div class="legend-options"><div class="legend3"></div>&le; 5km</div>
						<div class="legend-options"><div class="legend4"></div>&le; 10 km</div>
						<div class="legend-options"><div class="legend5"></div>&ge; 10 km</div>
					</div>
				</div>

				<div class="wrapper-filter">
					<div class="filter-title-menu">
						<div class="filter-title">Categories</div>
					</div>
					<div class="filter-options-menu">
                        <div class="filter-options" id="PRCP">Qualified staff headed by a licensed PRC physician</div>
						<div class="filter-options" id="BedSpace">Bed Space according to DOH guidelines</div>
						<div class="filter-options" id="OpRoom">Operating room with standard equipment with provision for sterilization</div>
						<div class="filter-options" id="RecRoom">Recovery Room</div>
						<div class="filter-options" id="MatWard">Maternity Ward</div>
						<div class="filter-options" id="IsoRoom">Isolation room for infectious diseases</div>
						<div class="filter-options" id="dental">A separate dental room</div>
						<div class="filter-options" id="blood">Provision for blood station</div>
						<div class="filter-options" id="pathology">DOH licensed secondary laboratory with consulting pathologist</div>
						<div class="filter-options" id="radiology">DOH licensed level 1 imaging facility with consulting radiologist</div>
						<div class="filter-options" id="pharmacy">DOH licensed Pharmacy</div>
						<div class="filter-options" id="CMDCDH_2">Qualified staff with Chief Medical Director and certified  Clinical Department Head</div>
						<div class="filter-options" id="Spec1">With specialties in Medicine, Pediatrics, Obstetrics and Gynecology, Surgery; their subspecialties and ancillary services</div>
						<div class="filter-options" id="ICU">Provision for general ICU for critically ill patients</div>
						<div class="filter-options" id="NICU">Provision for NICU (Neonatal Intensive Care Unit)</div>
						<div class="filter-options" id="HRPU">Provision for HRPU (High Risk Pregnancy Unit)</div>
						<div class="filter-options" id="RTS">Provision for respiratory therapy services</div>
						<div class="filter-options" id="TerClin">A DOH licensed tertiary clinical laboratory</div>
						<div class="filter-options" id="Teach_3">Teaching or Training hospitals with specialties in Medicine, Pediatrics, Obstetrics and Gynecology, and Surgery</div>
						<div class="filter-options" id="PRU">Provision for physical medicine and rehabilitation unit</div>
						<div class="filter-options" id="ASC">Provision for ambulatory surgical clinic</div>
						<div class="filter-options" id="Dialysis">Provision for dialysis facility</div>
						<div class="filter-options" id="BBank">Provision for blood bank</div>
						<div class="filter-options" id="Hispa">A DOH liscensed tertiary clinical laboratory with standard equipment necessary for hispathology examinations</div>
						<div class="filter-options" id="radiology3">A DOH licensed level 3 imaging facility with interventional radiology</div>
                        <div class="filter-options" id="HIVTreat">DOH licensed HIV Treatment Facility</div>
                        <div class="filter-options" id="HIVTest">DOH licensed HIV Testing Facility</div>
                    </div>
				</div>
				<div class="wrapper-map" id="map">
					<script>
						// get color depending on population density value

						function getColor(d) {
							return d ==100 ? '#37eabc' :
							       d >= 95  ? '#ed3158' :
							       d >= 90  ? '#4becc3' :
							       d >= 85  ? '#55edc6' :
							       d >= 80   ? '#5feeca' :
							       d >= 75   ? '#69efcd' :
							       d >= 70   ? '#73f1d0' :
							       d >= 65   ? '#7df2d4' :
							       d >= 60   ? '#87f3d7' :
							       d >= 55   ? '#91f4da' :
							       d >= 50   ? '#9bf5de' :
							       d >= 45   ? '#a5f6e1' :
							       d >= 40   ? '#aff7e4' :
							       d >= 35   ? '#b9f8e8' :
							       d >= 30   ? '#c3f9eb' :
							       d >= 25   ? '#cdfaee' :
							       d >= 20   ? '#d7fbf2' :
							       d >= 15   ? '#e1fcf5' :
							       d >= 10   ? '#ebfdf8' :
							       d >= 5   ? '#f5fefc' :
							       d >= 0   ? '#ffffff' :
							                  '#ffffff';
						}

						function getSaturation(city){
							for(var i = 0; i< count.length; i++){
							    if (city == count[i].City) {
                                    return (count[i].Count/highest * 100);
							    }
							}
							return 0;
						}

						function style(feature) {
						    return {
						        fillColor: getColor(getSaturation(feature.properties.NAME_2)),
						        weight: 2,
						        opacity: 1,
						        color: '#37eabc',
						        dashArray: '3',
						        fillOpacity: 0.7
						    };
						}

						function plotAllHospitals(hospitalJson){
							for(var i = 0; i < hospitals.length; i++){
								marker1 = L.marker([hospitals[i].lat,hospitals[i].lon], {icon: pinblank})

								markers.addLayer(marker1);

								var popupContent =  "<p class = 'FacilityName'>" + hospitals[i].FacilityName + "</p>" +
									"<p class = 'OtherName'>" + hospitals[i].Classification + " Hospital</p>"+
									"<p class = 'OtherName'>" + hospitals[i].BarangayName + ", " + hospitals[i].City + " City</p>"+
									"<p class = 'OtherName'>Landline: " + hospitals[i].LandlineNumber + "</p>";

								marker1.bindPopup(popupContent,{
							        closeButton: false,
							        minWidth: 250
							    });
							}
						}

						function onMapClick(e) {
	    					if(currentMarker != null)
	    						map.removeLayer(currentMarker)
	    					currentMarker = L.marker(e.latlng, {icon: pinme}).addTo(map);

                            // AJAX
                            $.getJSON("http://localhost:8000/topfive/ICU" + "/" + e.latlng.lng + "/" + e.latlng.lat, function(result){
                                top5Hosps = result;
                            });
	    					markers.clearLayers();
							plotHospitals(currentMarker, top5Hosps);
						}

						function plotHospitals(fromMarker, top5Hospitals){
							for(var i = 0; i < top5Hospitals.length; i++){
								var pin;
								if(top5Hospitals[i].dist < 1)
									pin = pin1
								else if(top5Hospitals[i].dist < 2.5)
									pin = pin2
								else if(top5Hospitals[i].dist < 5)
									pin = pin3
								else if(top5Hospitals[i].dist < 10)
									pin = pin4
								else
									pin = pin5
		    					markers.addLayer(L.marker([top5Hospitals[i].lat, top5Hospitals[i].lon], {icon: pin}));
							}
						}

						var markers = new L.MarkerClusterGroup();
						var currentMarker;
						var highest = 0;
						var count = {};
                        var hospitals = {};
                        var facility;
                        var top5Hosps = {};

						// PINS
						var pin1 = L.icon({
						    iconUrl: 'Stylesheets/Assets/pins_1.png',
						    shadowUrl: 'Stylesheets/Assets/pins_shadow.png',

						    iconSize:     [25, 62.5], // size of the icon
						    shadowSize:   [45, 62.5], // size of the shadow
						    iconAnchor:   [15, 55], // point of the icon which will correspond to marker's location
						    shadowAnchor: [15, 55],  // the same for the shadow
						    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
						});

						var pin2 = L.icon({
						    iconUrl: 'Stylesheets/Assets/pins_2.png',
						    shadowUrl: 'Stylesheets/Assets/pins_shadow.png',

						    iconSize:     [25, 62.5], // size of the icon
						    shadowSize:   [45, 62.5], // size of the shadow
						    iconAnchor:   [15, 55], // point of the icon which will correspond to marker's location
						    shadowAnchor: [15, 55],  // the same for the shadow
						    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
						});

						var pin3 = L.icon({
						    iconUrl: 'Stylesheets/Assets/pins_3.png',
						    shadowUrl: 'Stylesheets/Assets/pins_shadow.png',

						    iconSize:     [25, 62.5], // size of the icon
						    shadowSize:   [45, 62.5], // size of the shadow
						    iconAnchor:   [15, 55], // point of the icon which will correspond to marker's location
						    shadowAnchor: [15, 55],  // the same for the shadow
						    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
						});

						var pin4 = L.icon({
						    iconUrl: 'Stylesheets/Assets/pins_4.png',
						    shadowUrl: 'Stylesheets/Assets/pins_shadow.png',

						    iconSize:     [25, 62.5], // size of the icon
						    shadowSize:   [45, 62.5], // size of the shadow
						    iconAnchor:   [15, 55], // point of the icon which will correspond to marker's location
						    shadowAnchor: [15, 55],  // the same for the shadow
						    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
						});

						var pin5 = L.icon({
						    iconUrl: 'Stylesheets/Assets/pins_5.png',
						    shadowUrl: 'Stylesheets/Assets/pins_shadow.png',

						    iconSize:     [25, 62.5], // size of the icon
						    shadowSize:   [45, 62.5], // size of the shadow
						    iconAnchor:   [15, 55], // point of the icon which will correspond to marker's location
						    shadowAnchor: [15, 55],  // the same for the shadow
						    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
						});

						var pinblank = L.icon({
						    iconUrl: 'Stylesheets/Assets/pins_blank.png',
						    shadowUrl: 'Stylesheets/Assets/pins_shadow.png',

						    iconSize:     [25, 62.5], // size of the icon
						    shadowSize:   [45, 62.5], // size of the shadow
						    iconAnchor:   [15, 55], // point of the icon which will correspond to marker's location
						    shadowAnchor: [15, 55],  // the same for the shadow
						    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
						});


						var pinme = L.icon({
						    iconUrl: 'Stylesheets/Assets/pins_me.png',
						    shadowUrl: 'Stylesheets/Assets/pins_shadow.png',

						    iconSize:     [25, 62.5], // size of the icon
						    shadowSize:   [45, 62.5], // size of the shadow
						    iconAnchor:   [15, 55], // point of the icon which will correspond to marker's location
						    shadowAnchor: [15, 55],  // the same for the shadow
						    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
						});
						// NO MORE PINS

						var mapboxAccessToken = 'pk.eyJ1Ijoib2ZmaWNpYWxqb3NodWEiLCJhIjoiY2loOHNqOHk4MHMxYnVra3RubDVxaWJyaiJ9.BlgD_oWpdt2hCwiYcdS2nQ';
						var map = L.map('map', 'mapbox.streets')
						    .setView([14.600657, 120.98215], 11);

						/*Using Mapbox Map*/
						L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxAccessToken, {
						    attribution: "<a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='https://github.com/macoymejia/geojsonph'>geojsonph</a>",
						    id: 'mapbox.light',
						    minZoom: 10,
						    accessToken: 'pk.eyJ1Ijoib2ZmaWNpYWxqb3NodWEiLCJhIjoiY2loOHNqOHk4MHMxYnVra3RubDVxaWJyaiJ9.BlgD_oWpdt2hCwiYcdS2nQ'
						}).addTo(map);

						var layer = L.geoJson(metroManilaData, {style:style}).addTo(map);

//						layer.on('click',  onMapClick);

						//on map click
						map.on('click', onMapClick);

						map.addLayer(markers);

                        $.getJSON("http://localhost:8000/hospinfo", function(result){
                            hospitals = result;
                            plotAllHospitals(hospitals);
                        });


                        $(".filter-options").on("click", function(){
                            layer.clearLayers();
                            $.getJSON("http://localhost:8000/citycount/" + this.id, function(result){
                                try {
                                    map.removeLayer(layer);
                                } catch (e) {

                                }
                                facility = this.id;
                                count = result;
                                highest = 0;
        						for(var i=0; i<count.length; i++){
                                        if (highest < count[i].Count){
                                            highest = count[i].Count;
                                        }
                                }
                                layer = L.geoJson(metroManilaData, {style:style});
                                layer.addTo(map);
                                layer.on('click',  onMapClick);

                            });
                        });

					</script>
				</div>
			</div>
		</div>
	</body>

</html>
