<html>
	
	<head>
		<title>
			Welcome to [APPNAME]
		</title>

		<!-- STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" href="Stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="Stylesheets/style-wrapper.css">
		<link rel="stylesheet" type="text/css" href="Stylesheets/style-splash.css">
	</head>

	<body>
		<div class="wrapper-outer">
			<div class="wrapper-inner-border">
				<div class="wrapper-inner">
					<div class="wrapper-inner-left">
						<p class="title">Welcome to APPNAME</p>
						<p>Blah blah blah</p>
						<p>Let's get started <a href="Main.html">here</a></p>
					</div>
					<div class="wrapper-inner-right">
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>