div.wrapper-outer, div.wrapper-inner-border, div.wrapper-inner
{
	display: block;
}

div.wrapper-outer
{
	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px 0px 0px 0px;
}

/*
	WRAPPER INNER
*/
div.info-appslogan-mini
{
	width: 75px;
	height: 75px;

	background-image: url("Assets/slogan.jpg");
	background-size: 75px 75px;
	background-repeat: no-repeat;

	top: 20px;
	right: 20px;

	position: absolute;
	display: fixed;

	z-index: 11;
}

div.wrapper-info 
{
	width: 200px;
	height: 425px;

	background-image: url("Assets/black_50.png");

	top: 20px;
	right: 20px;

	position: absolute;
	display: fixed;

	z-index: 10;
}

div.info-appslogan
{
	width: 200px;
	height: 200px;

	background-image: url("Assets/slogan.jpg");
	background-size: 200px 200px;
	background-repeat: no-repeat;

	position: block;
}

div.info-content
{
	padding: 10px 20px;
}

div.info-content p
{
	font: 800 14px Arial;
	color: #FFFFFF;
}

div.info-content ul
{
	font: 200 10px Arial;
	color: #FFFFFF;
}

/*
	WRAPPER INNER
*/

div.wrapper-legend 
{
	width: 300px;
	height: 70px;

	background-image: url("Assets/black_50.png");

	bottom: 5%;
	left: 50%;
    transform: translate(-50%, 0);

	position: absolute;
	display: fixed;

	z-index: 10;
}

div.legend-title-menu
{
	width: 100%;
	height: 20px;

	overflow-x: hidden;
}

div.legend-title
{
	width: auto;
	height: auto;

	padding: 5px 0px 0px 0px;

	font: 800 11px "Arial";
	color: #FFFFFF;

	text-align: center;
}

div.legend-options-menu
{
	width: 100%;
	height: 50px;
}

div.legend-options
{
	width: 20%;
	height: 50px;

	padding: 0px;
	float: left;

	font: 800 9px "Arial";
	color: #FFFFFF;

	text-align: center;
	vertical-align: middle;
}

/*
	LEGEND SPRITES
*/

div.legend1, div.legend2, div.legend3, div.legend4, div.legend5
{	
	width: 20px;
	height: 20px;

	margin: 5px auto 5px auto;
}

div.legend1
{
	background: #3daf2c;
}

div.legend2
{
	background: #94d600;
}

div.legend3
{
	background: #fFdb00;
}

div.legend4
{
	background: #f28b00;
}

div.legend5
{
	background: #ff4539;
}

/*
	WRAPPER FILTER
*/

div.wrapper-filter
{
	width: 20%;
	height: 100%;

	display: block;

	float: left;
}

div.filter-title-menu
{
	width: 100%;
	height: auto;

	overflow-x: hidden;
}

div.filter-title
{
	width: 100%;
	height: auto;

	background: #ec264f;

	padding: 10px 0px 10px 10px;

	font: 900 14px "Arial";
	color: #FFFFFF;

	overflow-x: hidden;
}

div.filter-options-menu
{
	width: auto;
	height: 95%;

	overflow-y: scroll;
	overflow-x: hidden;
}

div.filter-options, div.filter-options-last 
{
	width: 90%;
	height: auto;

	background: #FFFFFF;

	padding: 5% 5% 5% 5%;

	font: 10px "Arial";
	color: #111111;
}

div.filter-options
{
	border-bottom: 2px Solid #ec264f;
}

div.filter-options-menu
{
	width: auto;
	height: 95%;

	overflow-y: scroll;
	overflow-x: hidden;
}

div.filter-options:hover, div.filter-options-last:hover, div.filter-options:active, div.filter-options-last:active
{
	width: 90%;
	height: auto;

	background: #111111;

	padding: 5% 5% 5% 5%;

	font: 800 10px "Arial";
	color: #FFFFFF;
}

div.filter-options:hover
{
	border-bottom: 2px Solid #ec264f;
}

/*
	WRAPPER MAP
*/

div.wrapper-map
{
	width: 80%;
	height: 100%;

	float: right;
}
